<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLegal Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">

    <link rel="stylesheet" href="case-law-subscription.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('partials/header') %>
    <div class="body">

        <div class="main-body">
            <div class="sub-body">
                <div class="ipc-heading">
                    <h1>BNS Section 1 - Short title, commencement and application.
                    </h1>
                </div>
                <div class="ipc-image">
                    <div class="ipc-img-box">
                        <img src="../uploads/Untitled (2 x 40 px) (250 x 60 px) (850 x 300 px).png" alt="">
                    </div>
                </div>
                <div class="ipc-info">
                    <div class="description ">
                        <div class="hedg hedg-1">
                            <h2>Description of BNS Section 1 - Short title, commencement and application.
                                </h2>
                        </div>
                        <div class="desc desc-1">
                            <p>
                                (1) This Act may be called the <strong>Bharatiya Nyaya Sanhita, 2023</strong>.
                            </p>
                            <p>
                                (2) It shall come into force on such date as the Central Government may, by notification
                                in the Official Gazette, appoint, and different dates may be appointed for different provisions
                                of the Sanhita.
                            </p>
                            <p>
                                (3) Every person shall be liable to punishment under this Sanhita and not otherwise for
                                every act or omission contrary to the provisions thereof, of which he shall be guilty within
                                India.
                            </p>
                            <p>
                                (4) Any person liable, by any law for the time being in force in India, to be tried for an
                                offence committed beyond India shall be dealt with according to the provisions of this
                                Sanhita for any act committed beyond India in the same manner as if such act had been
                                committed within India.
                            </p>
                            <p>
                                (5) The provisions of this Sanhita apply also to any offence committed by—<br>
                                (a) any citizen of India in any place without and beyond India;<br>
                                (b) any person on any ship or aircraft registered in India wherever it may be;<br>
                                (c) any person in any place without and beyond India committing an offence targeting
                                a computer resource located in India.
                            </p>
                            <p>
                                <strong>Explanation.—</strong> In this section, the word “offence” includes every act committed outside
                                India which, if committed in India, would be punishable under this Sanhita.
                            </p>
                            <p>
                                <strong>Illustration:</strong><br>
                                A, who is a citizen of India, commits a murder in any place without and beyond India,
                                he can be tried and convicted of murder in any place in India in which he may be found.
                            </p>
                            <p>
                                (6) Nothing in this Sanhita shall affect the provisions of any Act for punishing mutiny
                                and desertion of officers, soldiers, sailors or airmen in the service of the Government of India
                                or the provisions of any special or local law.
                            </p>
                        </div>
                    </div>

                   
                    
                   



                </div>
                <div class="sharethis-inline-share-buttons"></div>
            </div>
        </div>
        <div class="lock-form-container-0">
        <div class="lock-form-container">
            <div class="lock-form-p1">
                <div class="subscription-heading"><h2>Buy subscription plan to read all the caselaws...</h2></div>
                <div class="lock-content">
                    <div class="content-heading">
                      <span>What you will get in this Subscription ?</span>
                    </div>
                    <div class="content-main">
                         <ul class="content-list">
                         
                              <li> <span class="sub-arrow"><i class="fa-regular fa-circle-check"></i></span><span class="sub-benefit">Get access to a wide collection of case laws.</span></li>
                              <li> <span class="sub-arrow"><i class="fa-regular fa-circle-check"></i></span><span class="sub-benefit">Designed especially for law students at an unbeatable price of ₹199 per month.</span></li>
                              <li> <span class="sub-arrow"><i class="fa-regular fa-circle-check"></i></span><span class="sub-benefit">Stay updated with the latest judgments and case law summaries.</span></li>
                              <li> <span class="sub-arrow"><i class="fa-regular fa-circle-check"></i></span><span class="sub-benefit">Simplified case law summaries to help you understand judgments faster.</span></li>
                           
                         </ul> 
                    </div>
              </div>
            </div>
            <div class="subscription-card-container">
                <div class="subscription-card">
                       <div class="plan-title">Monthly</div>
                       <div class="plan-info">Save ₹100 with Monthly subscription  plan </div>
                       <div class="plan-pricing"><span class="ds-price">₹199</span><span class="og-price">₹299</span></div>
                       <div class="plan-btn"><button id="monthly-sub-btn">Get Started</button> </div>
                </div>
                <div class="subscription-card" id="subscription-card-2">
                       <div class="plan-title" id="plan-title-2">Quarterly</div>
                       <div class="plan-info" id="plan-info-2">Save ₹1000 with Monthly subscription  plan </div>
                       <div class="plan-pricing" id="plan-pricing-2"><span class="ds-price">₹499</span><span class="og-price">₹1499</span></div>
                       <div class="plan-btn plan-btn-2" id="quarterly-sub-btn"><button>Get Started</button></div>
                       <div class="popular-plan"><span>Most Popular</span></div>
                </div>
                <div class="subscription-card">
                       <div class="plan-title">Annually</div>
                       <div class="plan-info">Save ₹3000 with Monthly subscription  plan </div>
                       <div class="plan-pricing"><span class="ds-price">₹1999</span><span class="og-price">₹4999</span></div>
                       <div class="plan-btn" id="annually-sub-btn"><button>Get Started</button></div>
                </div>
            </div>
            <div class="cancel-sub-container">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
         </div>
         </div>
       
         <%-include('partials/footer') %>

        <script>
            const showmenu = (toggleId, navId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId);

                toggle.addEventListener('click', () => {
                    nav.classList.toggle('show-menu');
                    toggle.classList.toggle('show-icon');

                })

            }
            showmenu('nav-toggle', 'nav-menu');

            const dropdownItems = document.querySelectorAll('.dropdown-item')

            dropdownItems.forEach((item) => {
                const dropdownButton = item.querySelector('.dropdown-button');

                dropdownButton.addEventListener('click', () => {
                    const showDropdown = document.querySelector('.show-dropdown')

                    toggleItem(item);

                    if (showDropdown && showDropdown !== item) {
                        toggleItem(showDropdown)
                    }
                })
            })

            const toggleItem = (item) => {
                const dropdownContainer = item.querySelector('.dropdown-container');

                if (item.classList.contains('show-dropdown')) {
                    dropdownContainer.removeAttribute('style');
                    item.classList.remove('show-dropdown');
                }
                else {

                    dropdownContainer.style.height = dropdownContainer.scrollHeight + 'px';
                    item.classList.add('show-dropdown');
                }



            }
            const mediaQuery = matchMedia('(min-width:1118px)'),
                dropdownContainer = document.querySelectorAll('.dropdown-container')

            const removeStyle = () => {
                if (mediaQuery.matches) {
                    dropdownContainer.forEach((e) => {
                        e.removeAttribute('style');
                    })

                    dropdownContainer.forEach((e) => {
                        e.classList.remove('show-dropdown');
                    })

                }
            }
            addEventListener('resize', removeStyle);

/*
            const customSelects = document.querySelectorAll(".custom-select-1");
 const selectButtons = document.querySelectorAll(".select-button");
 const selectedValues = document.querySelectorAll(".selected-value");
 const optionsLists = document.querySelectorAll(".select-dropdown");
 
 customSelects.forEach((customSelect, index) => {
   const selectBtn = selectButtons[index];
   const selectedValue = selectedValues[index];
   const optionsList = optionsLists[index];
 
   selectBtn.addEventListener("click", () => {
     customSelect.classList.toggle("active");
     selectBtn.setAttribute(
       "aria-expanded",
       selectBtn.getAttribute("aria-expanded") === "true" ? "false" : "true"
     );
   });
 
   optionsList.querySelectorAll("li").forEach((option) => {
     function handler(e) {
       if ((e.type === "click" && e.clientX !== 0 && e.clientY !== 0) || e.key === "Enter") {
         selectedValue.textContent = option.children[1].textContent;
         customSelect.classList.remove("active");
       }
     }
 
     option.addEventListener("keyup", handler);
     option.addEventListener("click", handler);
   });
 });

*/
const customSelects = document.querySelectorAll(".custom-select-1")
const selectButtons = document.querySelectorAll(".select-button");
 const selectedValues = document.querySelectorAll(".selected-value");
 const optionsLists = document.querySelectorAll(".select-dropdown");

customSelects.forEach((customSelect, index) => {
  const selectBtn = selectButtons[index];
  const selectedValue = selectedValues[index];
  const optionsList = optionsLists[index];

  // Initialize the default selection
  const defaultOption = optionsList.querySelector('input:checked + label');
  if (defaultOption) {
    selectedValue.innerHTML = defaultOption.innerHTML; // Use innerHTML to copy the entire structure
  }

  selectBtn.addEventListener("click", () => {
    customSelect.classList.toggle("active");
    selectBtn.setAttribute(
      "aria-expanded",
      selectBtn.getAttribute("aria-expanded") === "true" ? "false" : "true"
    );
  });

  optionsList.querySelectorAll("li").forEach((option) => {
    function handler(e) {
      if ((e.type === "click" && e.clientX !== 0 && e.clientY !== 0) || e.key === "Enter") {
        const selectedOption = option.querySelector("label");
        selectedValue.innerHTML = selectedOption.innerHTML; // Copy the full content
        customSelect.classList.remove("active");
      }
    }

    option.addEventListener("keyup", handler);
    option.addEventListener("click", handler);
  });
});

            
            
        </script>
</body>

</html>